
.footerStyle {
    min-height: 120px;
    background-color: #f0f0f0;
    padding: 0.5%;

}

.footer-p {
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
}

.footer-a {
    position: relative;
    margin-left: 2%;
}
