.form-control {
    padding: 0.4rem;
    color: #dcdcdc;
    background-color: #2c3032;
}

body {
    background-color: #181a1b;
}

h2 {
    color: #dcdcdc;

}

label {
    color: #dcdcdc;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: opacity 1.5s ease, height 1.5s ease, visibility 1.5s ease;
}

.visible {
    opacity: 1;
    visibility: visible;
    height: auto;
    transition: opacity 2s ease, height 2s ease, visibility 2s ease;
}

.top-left-text {
    color: #dcdcdc;
    position: absolute;
    top: 25px;
    left: 30px;
    font-size: 1.25rem;
    font-weight: bold;
}